<%= form_with model: @memo, local: true do |form| %>
  <p>タイトル <%= form.text_field :title %></p>
  <p>内容  <%= form.text_area :content, size: "45*30" %></p>
  <p>画像 <%= form.file_field :image %></p>
  <%= form.submit button_value %>
<% end %>